.prepro-container {
  color: #FFF;
  font-family: 'Roboto', 'Helvetica', 'sans-serif';
}

.prepro-container * {
  box-sizing: border-box;
}

.prepro-title {
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
}

.prepro-autohide {
  transition: opacity 1s, transform 1s;
}
.prepro-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.prepro-reactive {
  cursor: pointer;
}

.prepro-video {
  width: 100%;
  height: 100%;
}

.prepro-view {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 20%;
  min-height: 120px;
  max-height: 200px;
  background: black;
  bottom: 0;
}

.prepro-timeline-cursor, .prepro-timeline-cursor-bg {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  height: 1em;
  width: 0;
  bottom: 0;
}

.prepro-timeline-cursor-bg {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.prepro-services {
  height: 100%;
  padding: 2em 1em 2em;
  white-space: nowrap;
}

.prepro-block {
  display: inline-block;
  height: 100%;
  margin-right: 1em;
  position: relative;
}

.prepro-services .prepro-title {
  position: absolute;
  margin-top:-2em;
}

/** SERVICES **/

.prepro-services canvas {
  height: 100%;
}

/* Color */
.prepro-colors {
}
.prepro-palette {
  display: flex;
}
.prepro-color {
  width: 20px;
  height: 100%;
  margin-right: 4px;
  border-radius: 3px;
}

/* Flow */
.prepro-flow-status, .prepro-segmentation-status {
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.75;
}
